{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Resume - Josemi</title>

    <!-- favicon -->
    <link href="/media/{{ config.favicon }} " rel=icon>

    <!-- web-fonts -->
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">

    <!-- Flags -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/css/flag-icon.min.css' rel='stylesheet' type='text/css'>

    <!-- font-awesome -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Style CSS -->
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar">
<div id="main-wrapper">
<!-- Page Preloader -->
<div id="preloader">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <button class="navbar-toggler custom-toggler" 
            type="button" data-toggle="collapse" 
            data-target="#navbarResponsive" 
            aria-controls="navbarResponsive" 
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> 
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">{% trans "Habilidades" %}</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#work_experience">{% trans "Experiencia laboral" %}</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">{% trans "Educación" %}</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#hobbies">Hobbies</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">{% trans "Contacto" %}</a></li>
            </ul>
        </div>
    </div>

    <div class="flags-container">
        <a href="{% url 'CMS:change_language' 'es' %}"><span class="flag flag-icon flag-icon-es"> </span></a>
        <a href="{% url 'CMS:change_language' 'en' %}"><span class="flag flag-icon flag-icon-gb"> </span></a>
    </div>
</nav>


<div class="columns-block container">
    <div class="left-col-block blocks">
        <header class="header theiaStickySidebar">
            <div class="profile-img">
                <img src="/media/{{ config.photo }}" width="100%" height="80%" class="img-responsive" alt="photo"/>
            </div>
            <div class="content">
                <h1>{{ config.name }}</h1>
                <!--<span class="lead">{% trans "Desarrollador de software" %}</span>-->
                <span class="lead">{{ config.job_title }}</span>

                <div class="about-text">
                    <p> {{ config.description }} </p>

                    <ul class="social-icon">
                        <li><a target="_blank" href="https://www.linkedin.com/in/jos%C3%A9-miguel-jaimez-d%C3%ADaz-38a3289b/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a target="_blank" href="https://gitlab.com/darkxemis"><i class="fa fa-gitlab" aria-hidden="true"></i></a></li>
                        <li><a target="_blank" href="https://github.com/darkxemis"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        <li><a target="_blank" href="https://bitbucket.org/darkxemis/"><i class="fa fa-bitbucket" aria-hidden="true"></i></a></li>
                    </ul>

                    <div class="cv-icon-center">
                        <a class="cv-icon-center" href="../../media/cv/Jose_Miguel_Jaimez_Diaz.pdf" target="_blank" >
                            <img alt="cv" src="../../media/cv_icon.png"
                            width="40" height="40">
                         </a>
                    </div>
                </div>
            </div>
        </header>
        <!-- .header-->
    </div>
    <!-- .left-col-block -->

    <div class="right-col-block blocks">
        <div class="theiaStickySidebar">
            <section class="section-wrapper skills-wrapper" id="skills">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h2>{% trans "Habilidades" %}</h2>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="progress-wrapper">
                                <!-- /.skill-progress -->
                                <div class="container">
                                        {% for skill in skills %}
                                            <div class="row">
                                                <div class="column-img">
                                                    <img class="center-img" src="/media/{{skill.code_ico}}" width="70px" height="50px"  alt="Code ico"/>
                                                </div>
                                                <div class="column-progress">
                                                    <h3 class="progress-title">{{ skill.name_skill }}</h3>
                                                    <div class="progress-outer">
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-striped progress-bar-danger" style="width: {{skill.get_percentage_skill}}"></div>
                                                            <div class="progress-value"><span>{{skill.percentage_skill}}</span>%</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                    <!--<img src="/media/{{skill.code_ico}}" width="50px" height="40px"  alt="Code ico"/>-->
                                            </div>
                                        {% endfor %}
                                </div>
                                <!-- /.skill-progress -->
                            </div>
                            <!-- /.progress-wrapper -->
                        </div>
                        <!--.col -->
                    </div>
                    <!--.row -->
                </div>
                <!-- .container-fluid -->
            </section>
            <!-- .skills-wrapper -->

            <section class="section-wrapper section-experience gray-bg" id="work_experience">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title"><h2>{% trans "Experiencia laboral" %}</h2></div>
                        </div>
                    </div>
                    <!--.row-->
                    <div class="row">
                        <div class="col-md-12">
                            {% for i in work_experience %}
                                <div class="content-item">
                                    <small>{{ i.date_init|date:'(M-Y)' }}  {% trans "Hasta" %}  {{ i.date_end|date:'(M-Y)' }}</small>
                                    <h3>{{ i.job }}</h3>
                                    <h4>{{ i.name }}</h4>
                                    <p>{{ i.place }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!--.row-->
                </div>
                <!-- .container-fluid -->

            </section>
            <!-- .section-experience -->

            <section class="section-wrapper section-education" id="education">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title"><h2>{% trans "Educación" %}</h2></div>
                        </div>
                    </div>
                    <!--.row-->
                    <div class="row">
                        <div class="col-md-12">
                            {% for i in education %}
                                <div class="content-item">
                                    <small>{{ i.date_init|date:'(M-Y)' }}  {% trans "Hasta" %}  {{ i.date_end|date:'(M-Y)' }}</small>
                                    <h3>{{ i.course_name }}</h3>
                                    <h4>{{ i.place }}</h4>
                                </div>
                            {% endfor %}
                            <!-- .experience-item -->
                        </div>
                    </div>
                    <!--.row-->
                </div>
                <!-- .container-fluid -->

            </section>
            <!-- .section-education -->

            <section class="section-wrapper section-interest gray-bg" id="hobbies">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h2>Hobbies</h2>
                            </div>
                        </div>
                    </div>
                    <!-- .row -->

                    <div class="row">
                        <div class="col-md-12">
                            {% for hobby in hobbies %}
                                <div class="content-item">
                                    <h3>{{hobby.title}}</h3>

                                    <p>{{hobby.description}}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- .row -->

                </div>
            </section>
            <!-- .section-publications -->
            <!--
            <section class="section-wrapper portfolio-section">
                <div class="container-fluid">
                </div>
            </section>-->
            <!-- .portfolio -->

            <section class="section-contact section-wrapper gray-bg" id="contact">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h2>{% trans "Contacto" %}</h2>
                            </div>
                        </div>
                    </div>
                    <!--.row-->
                    <div class="row">
                        <div class="col-md-12">
                            <address>
                                <strong>{% trans "Dirección" %}</strong><br>
                                {{config.address}}

                            </address>
                            <address>
                                <strong>{% trans "Número de teléfono" %}</strong><br>
                                {{config.phone_1}}
                            </address>

                            <address>
                                <strong>{% trans "Número de teléfono" %} 2</strong><br>
                                {{config.phone_2}}
                            </address>


                            <address>
                                <strong>Email</strong><br>
                                <a href="mailto:#">{{config.email}}</a>
                            </address>
                        </div>
                    </div>
                    <!--.row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="feedback-form">
                                <h2>{% trans "Ponerse en contacto" %}</h2>

                                <form id="contactForm" action="{% url 'CMS:send_message' %}" method="POST"> {% csrf_token %}
                                    <div class="form-group">
                                        {{ contact_form.full_name }}
                                    </div>
                                    <div class="form-group">
                                        {{ contact_form.email }}
                                    </div>
                                    <div class="form-group">
                                        {{ contact_form.subject }}
                                    </div>
                                    <div class="form-group">
                                        {{ contact_form.message }}
                                    </div>
                                    
                                    <input type="checkbox" id="check-privacity" name="check-privacity" value="Bike">
                                    <span>{% trans "He leído y acepto" %} <a target="_blank" href="{% url 'CMS:load_privacity' %}">{% trans "política de privacidad" %}</a></span>
                                    <br>

                                    <button id="submit" name="submit" type="submit" class="btn btn-primary" disabled>{% trans "Enviar" %}</button>
                                </form>
                            </div>
                            <!-- .feedback-form -->
                        </div>
                    </div>
                    
                </div>
                <!--.container-fluid-->
            </section>
            <!--.section-contact-->

            <footer class="footer">
                <div class="copyright-section">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copytext">&copy; All rights reserved, Created and modified José Miguel Jaimez Díaz | Design By: themehippo<a
                                        href="https://themehippo.com">themehippo</a></div>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!-- .container-fluid -->
                </div>
                <!-- .copyright-section -->
            </footer>
            <!-- .footer -->
            </div>
            <!-- Sticky -->

    </div>

</div>
<!-- jquery -->
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/theia-sticky-sidebar.min.js' %}"></script>
<script src="{% static 'js/scripts.min.js' %}"></script>
</body>
</html>